<p>
  showdetail works!
</p>
<table id="datatable">
  <table  border=5px>
    <thead>
      <tr>
        <td><h3>FirstName</h3></td>
        <td><h3>LastName</h3></td>
        <td><h3>Email</h3></td>
        <td><h3>EmpID</h3></td>
        <td><h3>Password</h3></td>
        <td><h3>Gender</h3></td>
      </tr>
    </thead>
    <tr>
      <td>{{Data.fname}}</td>
      <td>{{Data.lname}}</td>
      <td>{{Data.gender}}</td>
      <td>{{Data.contactNo}}</td>
      <td>{{Data.password}}</td>
      <td>{{Data.empId}}</td>
    </tr>
  </table>
</table>
