<p>
  edit works!
</p>

<form [formGroup]="myFormGroup" (ngSubmit)="storeValue()" >
  <input type="text" placeholder="First Name" formControlName="fname">
  <span *ngIf="myFormGroup.controls['fname'].hasError('*required')"></span>
  <span *ngIf="myFormGroup.controls['fname'].invalid  && (myFormGroup.controls['fname'].dirty || myFormGroup.controls['fname'].touched)">Only Charactors</span><br/> 
  
  <input type="text" placeholder="Last Name" formControlName="lname">
  <span *ngIf="(myFormGroup.controls['lname'].required) && (myFormGroup.controls['lname'].dirty || myFormGroup.controls['lname'].touched)">*</span>
  <span *ngIf="myFormGroup.controls['lname'].invalid  && (myFormGroup.controls['lname'].dirty || myFormGroup.controls['lname'].touched)">Only Charectors</span><br/> 

  <input type="text" placeholder="Gender" formControlName="gender" maxlength="1">
  <span *ngIf="myFormGroup.controls['gender'].invalid && (myFormGroup.controls['gender'].dirty || myFormGroup.controls['gender'].touched)">Can take only 'M' or 'F' as Input</span><br/>
  
  <input type="text" placeholder="Contact No." formControlName="contactNo" maxlength="10">
  <span *ngIf="myFormGroup.controls['contactNo'].errors.minlength">min 10 digits</span>
  <span *ngIf="!myFormGroup.controls['contactNo'].valid && (myFormGroup.controls['contactNo'].dirty || myFormGroup.controls['contactNo'].touched)">*Only digit are allowed</span><br/>
  
  <input type="password" placeholder="Password" formControlName="password" (keyup)="checkPassword()">
  <span *ngIf="!myFormGroup.controls['password'].valid && (myFormGroup.controls['password'].touched)" >*required</span><br/>
  
  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
  <span *ngIf="!myFormGroup.controls['password'].valid && (myFormGroup.controls['confirmPassword'].touched)">*required</span><br/>
  
  <input type="text" placeholder="Employee ID" formControlName="empId">
  <span *ngIf="!myFormGroup.controls['empId'].valid && (myFormGroup.controls['empId'].touched)">*Only 4 digits</span><br/>
  <button type="submit"[disabled]="myFormGroup.valid" (click)="storeValue()" >Sign Up</button>
</form>
